<!-- left side start-->
<div class="left-side sticky-left-side">

  <!--logo and iconic logo start-->
  <div class="logo" style="text-align: center">
    <a href="index.html" style="margin-left: 0"><img src="./../../static/images/logo.png" alt=""></a>
  </div>

  <div class="logo-icon text-center">
    <a href="index.html"><img src="./../../static/images/logo_icon.png" alt=""></a>
  </div>
  <!--logo and iconic logo end-->

  <div class="left-side-inner">

    <!-- visible to small devices only start -->
    <div class="visible-xs hidden-sm hidden-md hidden-lg">
      <div class="media logged-user">
        <img alt="" src="./../../static/images/photos/user-avatar.png" class="media-object">
        <div class="media-body">
          <h4><a href="#">John Doe</a></h4>
          <span>"Hello There..."</span>
        </div>
      </div>

      <h5 class="left-nav-title">Account Information</h5>
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
        <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
        <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
      </ul>
    </div>
    <!-- visible to small devices only end -->

    <!--sidebar nav start-->
    <ul class="nav nav-pills nav-stacked custom-nav">
      <li class="menu-list nav-active"><a href="index.html"><i class="fa fa-home"></i> <span>系统</span></a>
        <ul class="sub-menu-list">
          <li class="index"><a href="index.html">系统概览</a></li>
          <li class="coin-stat"><a href="coin-stat.html"> 币种统计</a></li>
          <li class="market-stat"><a href="market-stat.html"> 市场统计</a></li>
        </ul>
      </li>

      <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>用户</span></a>
        <ul class="sub-menu-list">
          <li class="user-manage"><a href="user-manage.html">用户管理</a></li>
          <li class="award-manage"><a href="award-manage.html">中奖管理</a></li>
          <li class="admin-manage"><a href="admin-manage.html">管理员管理</a></li>
          <li class="authority"><a href="authority.html">权限列表</a></li>
          <li class="journal"><a href="journal.html">登录日志</a></li>
          <li class="wallet"><a href="wallet.html">用户钱包</a></li>
          <li class="withdraw"><a href="withdraw.html">提现地址</a></li>
          <li class="asset-manage"><a href="asset-manage.html">财产管理</a></li>
          <li class="address"><a href="address.html">联系地址</a></li>
        </ul>
      </li>
      <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>财务</span></a>
        <ul class="sub-menu-list">
          <li class="financial-details"><a href="financial-details.html">财务明细</a></li>
          <li class="deposit"><a href="deposit.html">人民币充值</a></li>
          <li class="deposit-method"><a href="deposit-method.html">人民币充值方式</a></li>
          <li class="cny-withdraw"><a href="cny-withdraw.html">人民币提现</a></li>
          <li class="withdraw-settings"><a href="withdraw-settings.html">人民币提现配置</a></li>
          <li class="roll-in"><a href="roll-in.html">虚拟币转入</a></li>
          <li class="roll-out"><a href="roll-out.html">虚拟币转出</a></li>
        </ul>
      </li>
      <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>交易</span></a>
        <ul class="sub-menu-list">
          <li class="orders-manage"><a href="orders-manage.html">	委托管理</a></li>
          <li class="transaction"><a href="transaction.html">成交记录</a></li>
          <li class="chat"><a href="chat.html">交易聊天</a></li>
          <li class="comment"><a href="comment.html">币种评论</a></li>
          <li class="market"><a href="nestable.html">交易市场</a></li>
          <li class="recommend"><a href="recommend.html">交易推荐</a></li>
        </ul>
      </li>

      <li class="menu-list"><a href=""><i class="fa fa-envelope"></i> <span>应用</span></a>
        <ul class="sub-menu-list">
          <li class="mall-manage"><a href="mall-manage.html">商城管理</a></li>
          <li class="bonus-manage"><a href="bonus-manage.html">分红管理</a></li>
          <li class="new-coin"><a href="new-coin.html">新币管理</a></li>
          <li class="subscription"><a href="subscription.html">认购管理</a></li>
        </ul>
      </li>

      <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>设置</span></a>
        <ul class="sub-menu-list">
          <li class="base-settings"><a href="base-settings.html">基本配置</a></li>
          <li class="sms-settings"><a href="sms-settings.html">短信配置</a></li>
          <li class="service-settings"><a href="service-settings.html">客服配置</a></li>
          <li class="coin-settings"><a href="coin-settings.html">币种配置</a></li>
          <li class="hint-text"><a href="hint-text.html">提示文字</a></li>
          <li class="other-settings"><a href="other-settings.html">其他配置</a></li>
          <li class="guide-settings"><a href="guide-settings.html">导航配置</a></li>
        </ul>
      </li>

      <li class="menu-list"><a href=""><i class="fa fa-bar-chart-o"></i> <span>运营</span></a>
        <ul class="sub-menu-list">
          <li class="awards"><a href="awards.html">推广奖励</a></li>
          <li class="wap-manage"><a href="wap-manage.html">WAP管理</a></li>
        </ul>
      </li>

      <li class="menu-list"><a href="#"><i class="fa fa-th-list"></i> <span>工具</span></a>
        <ul class="sub-menu-list">
          <li class="cache"><a href="cache.html">清理缓存</a></li>
          <li class="server-queue"><a href="server-queue.html">服务器队列</a></li>
        </ul>
      </li>
    </ul>
    <!--sidebar nav end-->

  </div>
</div>
<!-- left side end-->
